th, td {
    padding: 5px;
    text-align: left;
}

h1 {
    margin-top: 1.0rem;
    margin-bottom: 1.6rem;
    color: #0052cc;
    font-weight: bold;
}

h2 {
    margin-top: 1.7rem;
    color: #212529;    
    font-weight: bold;
    font-size: x-large;
}

thead > tr > th {
    font-weight: bold;
}

.table td {
    color:#646464;
    cursor: pointer;
}

.table td.dark {
    color: #212529;
}

.panel.panel-default {
    /*background-color: #ececec;
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    padding: 20px;*/
}

body {
    margin: 0;
    /*background-color: #e2dede;*/
}

/*.container {
    background-color: #ffffff;
}*/

#holder {
    display: none;
}

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #000;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}